.p1_11-jul-2021-container{

}

ul.no-bullets{
    list-style-type: none;
}

.graph-with-math{
    display: flex;
    justify-content: space-between;
}

.graph-display{
    background-color: bisque;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.math-input-fields{
    display: flex;
    padding: 0 20%;
    flex-direction: column;
    background-color: #ccc;
}

.vertical-slider{
    padding: 5% 0;
    background-color: aqua;
}