.project-container{
  padding: 0;
  margin: 1rem; 
  border-radius: 1rem;
  background-color: #bdbddddd;
}

.collapsed{
  height: 200px;
  overflow: hidden;
}

.expanded{
  height: auto;
  overflow: auto;
}

.expand-collapse {
	display: block;
	border-radius: 0 0 1rem 1rem;
	background-color: #dd8888dd;
	padding: 0.3rem 0 0.3rem 2rem;
}

.project-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
}


@media (min-width: 701px) {
    .large-screen-hidden{
        display: none;
    }
}

@media (max-width: 700px) {
    .small-screen-hidden{
        display: none;
    }
}

.project-content-body {
  display: flex;
  max-width: 680px;
  flex-direction: column;
}

.project-content-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.project-thumbnail-large {
  align-self: flex-start;
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  height: auto;
  margin: 1rem
}

.project-thumbnail-small{
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: auto;
  margin: 0.5rem
}