.post-container{
  padding: 1rem ;
  margin: 1rem; 
  border-radius: 1rem;
  background-color: var(--body-overlay-color);
}

.post-content {
    width: 100%;
}

.post-content-body {
    max-width: 800px;
}