.page-container{
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    position: relative;
    justify-content: space-between;
}

.page-content {
    width: 100%;
}

.page-content-center {
    max-width: 800px;
    margin: auto;
}